body {
    background-color: rgb(115, 228, 236);
}

h1{
    text-align: center;
    color: rgb(223, 113, 63);
    font-size: 300%;
    font-weight: bolder;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: rgb(211, 113, 57);
}

P{
    font-style: oblique;
}

#l1{
    color: rgb(47, 60, 173);
    font-style: oblique;
}

.l2{
    color: darkred;
    font-style: oblique;
    text-decoration: underline;
}