body {
    text-align: center;
    background-color: rgb(206, 255, 255);
}

h1{
    text-align: center;
    color: rgb(194, 90, 42);
    font-size: 300%;
    font-weight: bolder;
    text-decoration: underline;
}

h2{
    text-align: center;
    color: rgb(192, 103, 51);
}

p1{
    color: blue;
}
p2{
    color: blue;
}
p3{
    color: blue;
}